language: python

python:
  - "3.2"
  - "3.3"

install: pip install coveralls==0.3; python setup.py develop

script:  python coverage run --source=alvi setup.py test

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

after_success:
  coveralls