{% extends "spaces/index.html" %}

{% block space_content %}
    <style type="text/css">
        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1px;
        }

        .node text {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1px;
        }

    </style>

    <script type="text/javascript">
        var markers = [];
        var marker_count = 0;
        var root;

        var marker_color = d3.scale.category10();

        var tree = d3.layout.tree().size([scene_height, scene_width-padding*2]);

        var diagonal = d3.svg.diagonal()
                .projection(function (d) {
                    return [d.y, d.x];
                });

        var svg = d3.select("svg")
                .attr("width", scene_width)
                .attr("height", scene_height)
                .append("g")
                .attr("transform", "translate(" + padding + ")");

        function init_root(d) {
            root = d;
            root.x0 = scene_height / 2;
            root.y0 = 0;
            //root.children.forEach(collapse);
            update(root);
        }

        function collapse(d) {
            if (d.children) {
                d._children = d.children;
                d._children.forEach(collapse);
                d.children = null;
            }
        }

        function node_fill(node) {
            if(node.markers.length > 0) {
                return get_marker_color(node.markers[0]);
            }
            return "#fff";
        }

        function update(source) {
            var nodes = tree.nodes(root).reverse();
            var links = tree.links(nodes);

            var node = svg.selectAll("g.node")
                    .data(nodes, function (d) {
                        return d.id;
                    });

            // Enter any new nodes at the parent's previous position.
            var nodeEnter = node.enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function (d) {
                        return "translate(" + source.y0 + "," + source.x0 + ")";
                    })
                    .on("click", click);

            nodeEnter.append("circle")
                    .attr("r", 1e-6)
                    .style("fill", node_fill);

            nodeEnter.append("text")
                    .attr("x", function (d) {
                        return -5;
                    })
                    .attr("dy", ".35em")
                    .attr("text-anchor", function (d) {
                        return d.children || d._children ? "end" : "start";
                    })
                    .text(function (d) {
                        return d.name;
                    })
                    .style("fill-opacity", 1e-6);

            // Transition nodes to their new position.
            var nodeUpdate = node.transition()
                    .duration(delay)
                    .attr("transform", function (d) {
                        return "translate(" + d.y + "," + d.x + ")";
                    });

            nodeUpdate.select("circle")
                    .attr("r", 10)
                    .style("fill", node_fill);

            nodeUpdate.select("text")
                    .style("fill-opacity", 1)
                    .text(function (d) {
                        return d.name;
                    });

            // Transition exiting nodes to the parent's new position.
            var nodeExit = node.exit().transition()
                    .duration(delay)
                    .attr("transform", function (d) {
                        return "translate(" + source.x + "," + source.y + ")";
                    })
                    .remove();

            nodeExit.select("circle")
                    .attr("r", 1e-6);

            nodeExit.select("text")
                    .style("fill-opacity", 1e-6);

            // Update the links…
            var link = svg.selectAll("path.link")
                    .data(links, function (d) {
                        return d.target.id;
                    });

            // Enter any new links at the parent's previous position.
            link.enter().insert("path", "g")
                    .attr("class", "link")
                    .attr("d", function (d) {
                        var o = {x: source.x0, y: source.y0};
                        return diagonal({source: o, target: o});
                    });

            // Transition links to their new position.
            link.transition()
                    .duration(delay)
                    .attr("d", diagonal);

            // Transition exiting nodes to the parent's new position.
            link.exit().transition()
                    .duration(delay)
                    .attr("d", function (d) {
                        var o = {x: source.x, y: source.y};
                        return diagonal({source: o, target: o});
                    })
                    .remove();

            // Stash the old positions for transition.
            nodes.forEach(function (d) {
                d.x0 = d.x;
                d.y0 = d.y;
            });
        }

        function update_markers() {

            var marker = svg.selectAll("g.marker")
                    .data(markers);

            // Enter any new nodes at the parent's previous position.
            var nodeEnter = marker.enter().append("g")
                    .attr("class", "marker")
                    .attr("transform", function (d) {
                        var y = 25 * (d.number+1);
                        return "translate(0, "+y+")";
                    });

            nodeEnter.append("circle")
                    .attr("r", 10)
                    .style("fill", function (d) {
                        return get_marker_color(d)
                    });

            nodeEnter.append("text")
                    .attr("x", 20)
                    .attr("y", ".35em")
                    .attr("text-anchor", "start")
                    .text(function (d) {
                        return d.name;
                    });
        }

        // Toggle children on click.
        function click(d) {
            if (d.children) {
                d._children = d.children;
                d.children = null;
            } else {
                d.children = d._children;
                d._children = null;
            }
            update(d);
        }

        function create_node(action) {
            var node = {};
            node.id = action.id;
            node.name = action.value;
            node.markers = [];

            if (!root) {
                init_root(node);
                return;
            }
            var parent = get_node(action.parent_id);
            if (!parent.children) {
                parent.children = [];
            }
            parent.children.push(node);
            update(parent);
        }

        function create_marker(action) {
            var marker = create_marker_common(action);
            var node = get_node(action.node_id);
            node.markers.push(marker);
            marker.node = node;
            update_markers();
        }

        function create_multi_marker(action) {
            var marker = create_marker_common(action);
            update_markers();
        }

        function get_marker_color(marker){
            if (marker.hasOwnProperty('color')){
                return marker.color;
            } else {
                return marker_color(marker.number);
            }
        }

        function create_marker_common(action) {
            var marker = {
                'id': action.id,
                'name': action.name,
                'number': marker_count++
            };
            if (action.hasOwnProperty('color')){
                marker.color = action.color;
            };
            markers.push(marker);
            return marker;
        }

        function get_marker(id) {
            for(var i=0; i<markers.length; i++) {
                var marker = markers[i];
                if (marker.id == id) {
                    return marker;
                }
            }
        }

        function move_marker(action) {
            var marker = get_marker(action.id);

            for(var i = 0; i < marker.node.markers.length; ++i) {
                var m = marker.node.markers[i];
                if(m.id === marker.id) {
                    marker.node.markers.splice(i, 1);
                    break;
                }
            }
            multi_marker_append(action);
        }

        function multi_marker_append(action) {
            var marker = get_marker(action.id);
            var node = get_node(action.node_id);
            node.markers.push(marker);
            update(root);
        }

        function multi_marker_remove(action) {
            var marker = get_marker(action.id);
            var node = get_node(action.node_id);
            for(var i = node.markers.length - 1; i >= 0; i--) {
               if(node.markers[i].id === marker.id) {
                    node.markers.splice(i, 1);
                }
            }
            update(root);
        }

        function update_node(action) {
            var node = get_node(action.id);
            node.name = action.value;
            update(root);
        }

        function insert_child(action) {
            var node = get_node(action.child_id);
            var old_parent = node.parent;
            var index = action.index;
            var new_parent = get_node(action.parent_id);
            node.parent = new_parent;
            for(var i = old_parent.children.length - 1; i >= 0; i--) {
               if(old_parent.children[i].id === node.id) {
                    old_parent.children.splice(i, 1);
                }
            }
            if(!new_parent.children) {
                new_parent.children = [];
            }
            new_parent.children.splice(index, 0, node);
            update(root);
        }

        function get_node(id) {
            return d3.selectAll("circle").filter(function (d) {
                return d.id == id
            })[0][0].__data__;
        }

        function update_data() {
            update(root);
        }

        function change_root(action) {
            var node = get_node(action.id);
            var parent = node.parent;
            for(var i = parent.children.length - 1; i >= 0; i--) {
               if(parent.children[i].id === node.id) {
                    parent.children.splice(i, 1);
                }
            }
            if(!node.children) {
                node.children = [];
            }
            node.children.push(parent);
            root = node;
            update(root);
        }

        register_action("create_node", create_node);
        register_action("update_node", update_node);
        register_action("insert_child", insert_child);
        register_action("change_root", change_root);
        register_action("create_marker", create_marker);
        register_action("move_marker", move_marker);
        register_action("create_multi_marker", create_multi_marker);
        register_action("multi_marker_append", multi_marker_append);
        register_action("multi_marker_remove", multi_marker_remove);
    </script>
{% endblock %}
