{% extends "spaces/index.html" %}

{% block space_content %}
    <script type="text/javascript">
        var points = [];
        var point_indexes = {};
        var markers = [];
        var marker_indexes = {};

        var marker_color = d3.scale.category10();

        //scale functions
        var xScale = d3.scale.linear()
                .domain([0, d3.max(points, function (d) {
                    return d[0];
                })])
                .range([padding, scene_width - padding * 2]);

        var yScale = d3.scale.linear()
                .domain([0, points.length])
                .range([scene_height - padding, padding]);

        //SVG element
        var svg = d3.select("svg")
                .attr("width", scene_width)
                .attr("height", scene_height);

        //X axis
        var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom")
                .ticks(5);

        svg.append("g")
                .attr("class", "x axis")
                .attr("stroke", "grey")
                .attr("transform", "translate(0," + (scene_height - padding) + ")")
                .call(xAxis);

        //Y axis
        var yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("left")
                .ticks(5);

        svg.append("g")
                .attr("class", "y axis")
                .attr("stroke", "grey")
                .attr("transform", "translate(" + padding + ",0)")
                .call(yAxis);

        //actions
        function action_update_point(point) {
            var index = point_indexes[point.id];
            if(point.x){
                points[index].x = point.x;
            }
            if(point.y){
                points[index].y = point.y;
            }
        }

        function action_create_point(action) {
            var point = {};
            point.x = action.x;
            point.y = action.y;
            point.id = action.id;

            point_indexes[point.id] = points.length;
            points.push(point);
        }

        function action_create_marker(marker) {
            marker_indexes[marker.id] = markers.length;
            markers.push(marker);
        }

        function action_move_marker(marker) {
            markers[marker_indexes[marker.id]].point_id = marker.point_id;
        }

        function update_scale() {
            var maxX = d3.max(points, function(d) { return d.x; });
            var maxY = points.length;
            xScale.domain([0, maxX]);
            yScale.domain([0, maxY]);

            svg.select(".x.axis")
                    .transition()
                    .duration(delay)
                    .call(xAxis);

            svg.select(".y.axis")
                    .transition()
                    .duration(delay)
                    .call(yAxis);
        }

        function update_data() {
            update_scale();

            var circles = svg.selectAll("circle")
                    .data(points);

            function transform_circles(circles) {
                    return circles.attr("cx", function (d) {
                        return xScale(d.x);
                    })
                    .attr("cy", function (d, i) {
                        return yScale(d.y);
                    })
            }

            transform_circles(circles.enter()
                    .append("circle")
            ).attr("r", 2);

            transform_circles(circles.transition()
                    .duration(delay));

            /*
            MARKERS
             */

            function marker(point_id) {
                var point = points[point_indexes[point_id]];
                return {
                    'x': xScale(point.x),
                    'y': yScale(point.y)
                };
            }

            var markers_select = svg.selectAll("g.marker")
                .data(markers)

            var markers_append = markers_select.enter()
                .append("g")
                .attr("class", "marker")
                .attr("text-anchor", "end")
                .attr("font-size", "12")
                .attr("transform", function(d){
                        return "translate(0,"+marker(d.point_id).y+")"
                });

            markers_append.append("text")
                .attr("dy", -5)
                .attr("dx", xScale.range()[1]+padding)
                .text(function(d) {
                        return d.name;
                    })
                .attr("fill", function(d){
                        return marker_color(d.id);
                    });

            markers_append.append("line")
                .attr("class", "link")
                .attr("stroke-width", 1)
                .attr("stroke", function(d){
                        return marker_color(d.id);
                    })
                .attr("x1", function(d) {
                        return marker(d.point_id).x;
                    })
                .attr("y1", 0)
                .attr("x2", xScale.range()[1]+padding)
                .attr("y2", 0);

            markers_select
                .transition()
                .duration(delay)
                .attr("transform", function(d){
                     if(d === null) {
                         return "translate("+xScale.range()[1]+", -10)"
                     }
                     return "translate(0,"+marker(d.point_id).y+")"
                });

            markers_select
                .selectAll("line")
                .transition()
                .duration(delay)
                .attr("x1", function(d) {
                    return marker(d.point_id).x;
                });
        }

        function action_remove_marker(action) {
            markers[action.id] = null;
        }

        register_action('create_point', action_create_point);
        register_action('update_point', action_update_point);
        register_action('create_marker', action_create_marker);
        register_action('move_marker', action_move_marker);
        register_action('remove_marker', action_remove_marker);
    </script>

{% endblock %}