{% extends "spaces/index.html" %}

{% block space_content %}
    <a href="#" class="reset_graph">reset</a>
    <style type="text/css">
        .node {
            fill: #fff;
            cursor: crosshair;
        }

        .node_selected {
            stroke: black;
        }

        .node_visited {
            fill: blue;
            stroke: blue;
        }

        .link {
            stroke: #999;
            stroke-width: 2;
            cursor: crosshair;
        }

        .node text {
            font: 10px sans-serif;
            fill: black;
            dominant-baseline: hanging;
        }

        .node_selected text{
            fill: black;
            stroke: black;
        }
    </style>

    <script type="text/javascript">
        var selected_node = null;
        var selected_link = null;
        var radius = 10;
        var distance = 50;
        var charge = -100;

        var svg = d3.select("svg")
                .attr("pointer-events", "all")
                .call(d3.behavior.zoom().on("zoom", rescale))
                .append('svg:g');

        var force = d3.layout.force()
                .size([scene_width, scene_height])
                .nodes([])
                .linkDistance(distance)
                .charge(charge)
                .on("tick", tick);


        var node_indexes = {};
        var nodes = force.nodes();
        var links = force.links();
        var node = svg.selectAll(".node");
        var link = svg.selectAll(".link");

        function tick() {
            link.attr("x1", function (d) {
                return d.source.x;
            })
                    .attr("y1", function (d) {
                        return d.source.y;
                    })
                    .attr("x2", function (d) {
                        return d.target.x;
                    })
                    .attr("y2", function (d) {
                        return d.target.y;
                    });

            node
                    .attr("transform", function (d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    });
        }

        function rescale() {
            var translate = d3.event.translate;
            var scale = d3.event.scale;

            svg.attr("transform", "translate(" + translate + ")" + " scale(" + scale + ")");
        }

        function visit(tree, index) {
            tree[index].visited = true;
            selected_node = d3.selectAll("circle").filter(function (d) {
                return d.index == index
            })[0][0].__data__;
        }

        function traverse(tree, index) {
            visit(tree, index);
            setTimeout(function () {
                traverse(tree, index + 1)
            }, 1000);
        }

        function create_node(action) {
            var node = {};
            node.value = action.value;
            if (action.parent_id != 0) {
                var link = {}
                var parent = nodes[node_indexes[action.parent_id]];
                link.source = parent;
                link.target = node;
                links.push(link);
                node.x = parent.x;
                node.y = parent.y;
            }
            else {
                node.x = 0;
                node.y = 0;
            }
            node_indexes[action.id] = nodes.length;
            nodes.push(node);

            selected_node = node;
            selected_link = null;
        }

        function create_edge(action) {
            var node1 = nodes[node_indexes[action.node1_id]];
            var node2 = nodes[node_indexes[action.node2_id]];

            var link = {}
            link.source = node1;
            link.target = node2;
            links.push(link);
        }

        function update_data() {
            link = link.data(links);

            link.enter().insert("line", ".node")
                    .attr("class", "link");

            link.exit().remove();

            link.classed("link_selected", function (d) {
                return d === selected_link;
            });

            node = node.data(nodes);

            var g = node.enter()
                    .append("g")
                    .attr("class", "node");

            g.append("circle")
                    .attr("class", "node")
                    .attr("r", radius)
                    .transition()
                    .duration(delay)
                    .ease("elastic");

            g.append("text")
                    .text(function (d) {
                        return d.value;
                    })
                    .attr("text-anchor", "middle");

            node.exit().transition()
                    .attr("r", 0)
                    .remove();

            node.classed("node_selected", function (d) {
                return d === selected_node;
            })
                    .classed("node_visited", function (d) {
                        return d.visited
                    });

            force.start();
        }

        function set_node_value(action) {
            console.log(action);
        }

        register_action("create_node", create_node);
        register_action("create_edge", create_edge);
        register_action("set_node_value", set_node_value);

        $(".reset_graph").click(function() {
            force.charge(0);
            force.distance(0);
            update_data();
            setTimeout(function(){
                force.charge(charge);
                force.distance(distance);
                update_data();
            }, delay*3);
        });

    </script>
{% endblock %}
