{% extends "index.html" %}

{% block content %}
    <svg/>
    <div class="hide" id="session_id">{{ session_id }}</div>

    <script type="text/javascript">
        //Canvas size
        var padding = 60;
        var scene_width = $("svg").parent().width(); //TODO support window resize
        var scene_height = 500;
        var delay = 1000;
    </script>

    {% block space_content %}
    {% endblock %}

    <pre class="prettyprint">{{ scene.source }}</pre>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <div class="well sidebar-nav">
        <ul class="nav nav-list" id="stats">
            <li class="nav-header">Statistics</li>
        </ul>
    </div>

{% endblock %}