{% extends "spaces/index.html" %}

{% block space_content %}
    <style type="text/css">
        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

    </style>

    <script type="text/javascript">
        var i = 0;//TODO remove
        var root;

        var tree = d3.layout.tree().size([scene_height, scene_width-padding*2]);

        var diagonal = d3.svg.diagonal()
                .projection(function (d) {
                    return [d.y, d.x];
                });

        var svg = d3.select("svg")
                .attr("width", scene_width)
                .attr("height", scene_height)
                .append("g")
                .attr("transform", "translate(" + padding + ")");

        function init_root(d) {
            root = {
                "name": d.value,
                "id": d.id,
                "children": []
            }
            root.x0 = scene_height / 2;
            root.y0 = 0;
            root.children.forEach(collapse);
            update(root);
        }

        function collapse(d) {
            if (d.children) {
                d._children = d.children;
                d._children.forEach(collapse);
                d.children = null;
            }
        }

        function update(source) {
            var nodes = tree.nodes(root).reverse();
            var links = tree.links(nodes);

            var node = svg.selectAll("g.node")
                    .data(nodes, function (d) {
                        return d._id || (d._id = ++i);
                    });

            // Enter any new nodes at the parent's previous position.
            var nodeEnter = node.enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function (d) {
                        return "translate(" + source.y0 + "," + source.x0 + ")";
                    })
                    .on("click", click);

            nodeEnter.append("circle")
                    .attr("r", 1e-6)
                    .style("fill", function (d) {
                        return d._children ? "lightsteelblue" : "#fff";
                    });

            nodeEnter.append("text")
                    .attr("x", function (d) {
                        return -5;
                    })
                    .attr("dy", ".35em")
                    .attr("text-anchor", function (d) {
                        return d.children || d._children ? "end" : "start";
                    })
                    .text(function (d) {
                        return d.name;
                    })
                    .style("fill-opacity", 1e-6);

            // Transition nodes to their new position.
            var nodeUpdate = node.transition()
                    .duration(delay)
                    .attr("transform", function (d) {
                        return "translate(" + d.y + "," + d.x + ")";
                    });

            nodeUpdate.select("circle")
                    .attr("r", 10)
                    .style("fill", function (d) {
                        return d._children ? "lightsteelblue" : "#fff";
                    });

            nodeUpdate.select("text")
                    .style("fill-opacity", 1)
                    .text(function (d) {
                        return d.name;
                    });

            // Transition exiting nodes to the parent's new position.
            var nodeExit = node.exit().transition()
                    .duration(delay)
                    .attr("transform", function (d) {
                        return "translate(" + source.x + "," + source.y + ")";
                    })
                    .remove();

            nodeExit.select("circle")
                    .attr("r", 1e-6);

            nodeExit.select("text")
                    .style("fill-opacity", 1e-6);

            // Update the links…
            var link = svg.selectAll("path.link")
                    .data(links, function (d) {
                        return d.target._id;
                    });

            // Enter any new links at the parent's previous position.
            link.enter().insert("path", "g")
                    .attr("class", "link")
                    .attr("d", function (d) {
                        var o = {x: source.x0, y: source.y0};
                        return diagonal({source: o, target: o});
                    });

            // Transition links to their new position.
            link.transition()
                    .duration(delay)
                    .attr("d", diagonal);

            // Transition exiting nodes to the parent's new position.
            link.exit().transition()
                    .duration(delay)
                    .attr("d", function (d) {
                        var o = {x: source.x, y: source.y};
                        return diagonal({source: o, target: o});
                    })
                    .remove();

            // Stash the old positions for transition.
            nodes.forEach(function (d) {
                d.x0 = d.x;
                d.y0 = d.y;
            });
        }

        // Toggle children on click.
        function click(d) {
            if (d.children) {
                d._children = d.children;
                d.children = null;
            } else {
                d.children = d._children;
                d._children = null;
            }
            update(d);
        }

        function create_node(action) {
            var node = {};
            node.parent_id = action.parent_id;
            node.id = action.id;
            node.value = action.value;

            if (!root) {
                init_root(node);
                return;
            }
            var parent = d3.selectAll("circle").filter(function (d) {
                return d.id == node.parent_id
            })[0][0].__data__;
            if (!parent.children) {
                parent.children = [];
            }
            parent.children.push({"name": node.value, "id": node.id});
            update(parent);
        }

        function set_node_value(action) {
            var node = d3.selectAll("circle").filter(function (d) {
                return d.id == action.id
            })[0][0].__data__;
            node.name = action.value;
            update(root);
        }

        function update_data() {
            update(root);
        }

        register_action("create_node", create_node);
        register_action("set_node_value", set_node_value);

    </script>
{% endblock %}
