<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AlVi - Algorithm Visualisation Framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Piotr Lewalski">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/sockjs-0.3.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/google-code-prettify/run_prettify.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">AlVi</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    <a href="#" class="navbar-link">Contact</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
        {%  block sidebar %}
            <div class="well sidebar-nav">
                <ul class="nav nav-list scenes">
                    <li class="nav-header">Default Algorithms</li>
                    {% for name, is_default in scenes %}
                        {% if is_default %}
                        <li>
                            <a href="{% url 'alvi.views.run' name %}">{{ name }}</a>
                        </li>
                        {%  endif %}
                    {% endfor %}
                    <li class="nav-header">Loaded Algorithms</li>
                    {% for name, is_default in scenes %}
                        {% if not is_default %}
                        <li>
                            <a href="{% url 'alvi.views.run' name %}">{{ name }}</a>
                        </li>
                        {%  endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
        </div>
        <div class="span9">
            <div class="hero-unit">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <hr>

    <footer>
        {% block footer %}
        <p>&copy; <a href="https://github.com/alviproject/alvi">AlVi</a> 2013</p>
        {% endblock %}
    </footer>

</div>
<!--/.fluid-container-->
</body>
</html>
